@import "../../common/style.scss";

.api-wrap {
  height: calc(100% - 60px);
  width: 100%;
  background: $content-color;
}

.api-navbar {
  height: 60px;
  width: calc(100% - 0px);
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid $border-color;
}

.api-navbar a {
  padding: 0 3rem;
  text-decoration: none;
  color: $panel-blr-color;
  height: calc(100% - 0px);
  display: flex;
  align-items: center;
}

.api-header:hover {
  color: $active-color;
}

.api-navbar a:hover {

  border-bottom: 2px solid $active-color;
}

.api-navbar a.active {
  border-bottom: 2px solid $active-color;
}

.api-header.active {
  color: $active-color;
}

.navbar-width.active {
  height: 100%;
  border-bottom: 3px solid;
  display: flex;
  align-items: center;
  padding: 25px;
}