@import "../../common//style.scss";

.sidenav {
  height: calc(100% - 0px);
  width: 17%;
}

.api-content {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
}

.api-sidenav {
  height: calc(100% - 0px);
  width: 100%;
  background-color: $side-nav-background;
}

.listitems {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.listitems p {
  margin: 0;
  margin-left: 50px;
}

.activelist {
  background: $active-color;
  color: $content-color;
}

.App {
  display: flex;
  flex-direction: row;
  height: calc(100% - 0px);
  width: 83%;
  overflow-y: scroll;
}

#api-data {
  width: 100%;
}

.swagger-ui section.models {
  display: none;
}