@import "../../common/style.scss";

.start-wrap {
  height: calc(100% - 0px);
  width: 100%;
  margin-top: -60px;
}

.start-content {
  height: calc(100% - 0px);
  width: calc(100% - 0px);
}

.Startcontent {
  background-image: url("../../images/bg_01.jpg");
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.startcontent-title {
  margin-left: 40px;
}

.startcontent-title p {
  margin: 0;
  color: $content-color;
  font-family: $primary-font;
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
  text-shadow: 0px 0px 80px #000000;
}

.startcontent-button {
  margin-top: 20px;
}

.button-text {
  background: $button-bg-color;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none !important;
  height: 60px;
  width: 240px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: $content-color;
}

.start-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
}

.footer-text {
  width: 70%;
  height: calc(100% - 0px);
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.6);
}

.panel-txt-wrap {
  width: 26%;
  margin: 0 auto;
  text-align: center;
}

.panel-title {
  color: $content-color;
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.panel-icon {
  width: 30px;
  height: 36px;
}

.panel-txt {
  color: $content-color;
  font-size: 15px;
  text-align: center;
}