@import "../../common/style.scss";

.header-wrap {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $primary-font;
}

.navbar-wrap {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.header-navbar {
  display: flex;
  margin-left: 30px;
}

.user-wrap {
  display: flex;
  align-items: center;
}

.register-button {
  height: 60px;
  width: 160px;
  border: none;
  background: $content-color;
  outline: none !important;
  color: rgba(0, 0, 0, 0.72);
  font-family: GothamBook;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.register-button:hover {
  background-color: grey;
  color: $content-color;
}

.login-button {
  height: 60px;
  width: 160px;
  border: none;
  background: $button-bg-color;
  color: $content-color;
  outline: none !important;
  font-size: 16px;
  font-weight: bold;
  font-family: Conv_Gotham-Bold;
  font-style: normal;
  line-height: 23px;
}

.header-navbar a.active {
  color: $active-color;
  font-family: $secondary-font;
  display: flex;
}

.navbar.header {
  color: $content-color;
}

.header-navbar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.72);
  font-family: $primary-font;
  display: flex;
}

.header-navbar a:hover {
  color: none !important;
  text-decoration: none !important;
}

.Active-header {
  background-color: rgba(0, 0, 0, 0.5);
}

.about-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: $content-color;
}
