@import "../../common/style.scss";

.home-wrap {
  height: calc(100% - 60px);
  width: 100%;
}

.content-wrap {
  height: calc(100% - 0px);
  width: calc(100% - 0px);
}

.Homecontent {
  background-image: url("../../images/bg_02.jpg");
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content-text {
  margin-left: 40px;
}

.content-text p {
  margin: 0;
  color: $content-color;
  font-family: $primary-font;
  font-style: normal;
  font-size: 60px;
  line-height: 70px;
  text-shadow: 0px 0px 90px rgb(0, 0, 0);
}

.content-text span {
  font-weight: bold;
}

.content-button {
  margin-top: 20px;
}

.button-text {
  background: $button-bg-color;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none !important;
  width: 212px !important;
  height: 50px !important;
  font-size: 20px !important;
  line-height: 35px;
  color: $content-color;
  font-family: $primary-font;
}

.content-subtitle p {
  font-size: 24px;
  line-height: 50px;
  text-shadow: 0px 0px 90px black;
}

.name-strong {
  font-weight: 900;
  font-family: $secondary-font;
}