// color css

$button-bg-color: #f27f66;
$content-color: #ffffff;
$panel-color: #000000;
$panel-blr-color: #00000075;
$header-blr-color: #0000008a;
$header-txt-color: #ffffffa3;
$active-color: #0762a3;
$border-color:#A4A4A4;
$side-nav-background:#EFEFEF;

$primary-font: GothamBook;
$secondary-font: Conv_Gotham-Bold;